*.aar filter=lfs diff=lfs merge=lfs -text
custom-plugins/cordova-accura-kyc/src/ios/AccuraKYC.framework/AccuraKYC filter=lfs diff=lfs merge=lfs -text
custom-plugins/cordova-accura-kyc/src/ios/AccuraKYC.framework/* filter=lfs diff=lfs merge=lfs -text
AccuraK* filter=lfs diff=lfs merge=lfs -text
